<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/__${@versionConfig.bootstrapVersion}__/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/__${@versionConfig.bootstrapIconsVersion}__/font/bootstrap-icons.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <section layout:fragment="content"></section>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/__${@versionConfig.bootstrapVersion}__/js/bootstrap.min.js}"/>
</body>
</html>