<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="row g-0 align-items-center mb-1">
            <div class="col-auto">
                <input th:field="*{questionModels[__${question.id}__].results[__${statusLoopAnswers.index}__].answer.id}"
                       th:value="${answer.id}"
                       type="checkbox" class="form-check-input"/>&nbsp;
            </div>
            <div class="col">
                <input th:field="*{questionModels[__${question.id}__].results[__${statusLoopAnswers.index}__].freeText}"
                       th:classappend="${#fields.hasErrors('questionModels[__${question.id}__].results[__${statusLoopAnswers.index}__]')} ? is-invalid"
                       type="text" class="form-control"/>
                <div class="invalid-feedback">
                    <span th:each="error : ${#fields.errors('questionModels[__${question.id}__].results[__${statusLoopAnswers.index}__]')}"
                          th:text="${error}"></span>
                </div>
            </div>
        </div>
    </div>
</div>